<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<!-- include summernote-ko-KR -->
<script src="/resources/js/summernote-ko-KR.js"></script>
<script type="text/javascript">

	$(function(){
		//서머노트 쓰기 비활성화
		$('#summernote').summernote('disable');
		 
	});

</script>
</head>
<body>
	<h2>게시물 상세보기</h2>
	<hr>
	<p>글번호: <span th:text="${b.boardPostNo}"></span></p><br>
	<p>제목: <span th:text="${b.boardTitle}"></span></p><br>
	<p>작성자: <span id="userId" th:value="${u.userId}" th:text="${u.userId}"></span></p><br>
	<p>작성날짜: <span th:text="${#dates.format(b.boardCreateDate, 'yyyy-MM-dd')}"></span></p><br>
	<p>수정날짜: <span th:text="${#dates.format(b.boardUpdateDate, 'yyyy-MM-dd')}"></span></p><br>
	<p>조회수: <span th:text="${b.boardHit}"></span></p><br>
	<p>글내용: <br></p>
		<textarea id="summernote" rows="10" cols="80" readonly="readonly" th:text="${b.boardContent}"></textarea><br>
		
	<th:if th:test="${b.boardFname != null and b.boardFname != '' }"> <!-- fname이 있다면 -->
		첨부파일: <a th:href="@{/upload/{boardFname}(boardFname=${b.boardFname })}"></a><br> <!-- 업로드한 파일을 다운로드 하기 위해서 태그를 붙여준다. (압축파일 같은 것) -->
	</th:if>
	
	<th:if th:test="${img == 'yes' }"> <!--  img 파일(이미지)이 yes일경우 파일을 출력 -->
		<img th:src="@{/upload/{boardFname}(boardFname=${b.boardFname })}">
	</th:if><br><br>
	
	
	<a th:href="@{/listBoard}">목록보기</a>
	&nbsp;&nbsp;
	<button th:if="${session.userNo == b.userNo}"><a th:href="@{/updateBoard/{boardPostNo}(boardPostNo=${b.boardPostNo})}">수정</a></button>
	&nbsp;&nbsp;
	<button th:if="${session.userNo == b.userNo}"><a th:href="@{/deleteBoard/{boardPostNo}(boardPostNo=${b.boardPostNo })}">삭제</a></button>
</body>
</html>